@model SchoolWeb.Models.Sections

@{
    ViewData["Title"] = "Details";
}
<div class="container">
    <hr />
    <center>
        <h1 class="header-line crt">Section Details</h1>
    </center>
    <div>
        <hr />
        <dl class="dl-horizontal">
            <dt>
                Section Name
            </dt>
            <dd>
                @Html.DisplayFor(model => model.Section_Name)
            </dd>
        </dl>
    </div>
    <div>
        <a asp-action="EditSection" asp-route-id="@Model.Section_Id">
            <input type="submit" value="Edit" class="MyBtn1" />
        </a>
        <a asp-action="Index">
            <input type="submit" value="Back to List" class="MyBtn" />
        </a>
    </div>
</div>