@{
    ViewData["Title"] = "About";
}
<div class="container">
    <div class="page-area">
        <img src="~/img/Events/3.jpg" class="img-responsive img-thumbnail" />
        <h3 class="header-line crt">Welcome To Kayer High School</h3>

        <p style="text-align:justify">@ViewData["Message"]</p>

        <p style="text-align:justify">@ViewData["Message2"]</p>

        <h3 class="crt">Govt. Approval: </h3>
        <p style="text-align:justify">@ViewData["GovtAppoval"]</p>
</div>
</div>